.app {
  .company-name {
    position: fixed;
    top: 1rem;
    left: 3.8rem;
    z-index: 9999;
    height: 2rem;
    img {
      height: 100%;
    }
  }
  .content {
    background: #f5f4f4;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    outline: none;
    background: inherit;
    border: 1px solid grey;

    svg {
      font-size: 1.2rem;
    }
  }
}

body[theme-dark] {
  border-color: grey;
  color: #fff;

  a {
    color: var(--jankaritech) !important;
  }

  #app .content {
    background: rgb(26 26 26);

    .scroll-to-top {
      svg {
        color: white;
      }
    }
  }
}
