#app {
  .content {
    right: 0;
    padding: 1rem;
    background: #f5f4f4;
    min-height: calc(100vh - var(--appbar-height));

    &.with-sidebar {
      margin-left: var(--sidebar-width);
    }

    &.without-sidebar {
      margin-left: 0;
    }

    .scroll-to-top {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 1;
      border-radius: 50%;
      height: 42px;
      width: 42px;
      outline: none;
      background: inherit;
      border: 1px solid grey;

      svg {
        font-size: 1.2rem;
      }
    }
  }
}

body[theme-dark] {
  border-color: grey;
  color: #fff;

  a {
    color: var(--jankaritech) !important;
  }

  #app .content {
    background: rgb(26 26 26);

    .scroll-to-top {
      svg {
        color: white;
      }
    }
  }
}
