@use "sass:meta";

#app {
  .content {
    right: 0;
    background: #f5f4f4;
    min-height: calc(100vh - var(--appbar-height));

    .app-bar-space {
      height: calc(var(--appbar-height) + 1rem);
    }

    .scroll-to-top {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 1;
      height: 42px;
      width: 42px;
      outline: none;
      background: inherit;
      border: 1px solid grey;

      svg {
        font-size: 1.2rem;
      }
    }
  }
}

body:not([theme-dark]) {
  @include meta.load-css("highlight.js/styles/github.css");
}

body[theme-dark] {
  @include meta.load-css("highlight.js/styles/github-dark.css");

  border-color: grey;
  color: #fff;

  a {
    color: var(--jankaritech) !important;
  }

  #app .content {
    background: rgb(26 26 26);

    .scroll-to-top {
      svg {
        color: white;
      }
    }
  }
}
