.blog-peek {
  margin: 1.6rem;
  border: 1px solid grey;

  &--banner {
    text-align: center;
    height: 180px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .fallback-banner {
      scale: 0.8;
    }

    .regular-banner {
      width: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &--divider {
    border-top: 1px solid grey;
    border-radius: 0;
  }

  &--author {
    padding: 1rem;
    display: flex;
    align-items: center;

    .author-avatar {
      height: 36px;
      width: 36px;
    }

    .author-info {
      padding-left: 0.5rem;
    }

    .author-name {
      font-size: 0.95rem;
      font-weight: 500;
    }

    .created-at {
      font-size: 0.75rem;
    }

    .author-link {
      font-weight: 500;
    }
  }

  &--content {
    padding: 0.5rem 1rem;

    .blog-title {
      font-size: 1.2rem;
      font-weight: 500;

      &:hover {
        color: rgb(28 75 28);
      }
    }

    .tags {
      padding-top: 0.5rem;

      .tag-item {
        font-size: 0.875rem;
        margin: 0 0.2rem;
        padding: 0.2rem;
        background-color: rgb(223 223 223);
        letter-spacing: 0.5px;
      }
    }
  }

  &--footer {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .read-time {
      font-size: 0.7rem;
      padding: 0.5rem;
    }

    .icon-button {
      height: 32px;
      width: 32px;
    }
  }
}

.home-view {
  &--list {
    .blog-peek {
      &--banner {
        height: 100%;

        img {
          border-bottom: 1px solid #dedddd;
          width: 100%;
          height: auto;
          max-height: 350px;
        }

        &--fallback {
          display: none;
        }
      }

      &--divider {
        display: none;
      }
    }
  }
}

body[theme-dark] {
  .author-link {
    color: #fff;
  }

  .blog-peek {
    &--banner {
      background: black;
    }

    .tag-item {
      background-color: rgb(66 66 66);
    }

    .blog-title {
      &:hover {
        color: rgb(197 255 197);
      }
    }
  }
}

.image-contain {
  object-fit: contain;
  border-bottom: 1px solid #dedddd;
}
