:root {
  --primary: #0070f3;
  --success: green;
  --warning: orange;
  --error: red;
  --info: #2196f3;
  --jankaritech: #88b04b;
  --text--light: #2d2d2d;
  --text--dark: #bcbcbc;
}

.primary {
  color: var(--primary);

  &--text {
    color: var(--primary);
  }
}

.success {
  color: var(--success);

  &--text {
    color: var(--success);
  }
}

.error {
  color: var(--error);

  &--text {
    color: var(--error);
  }
}

.warning {
  color: var(--warning);

  &--text {
    color: var(--warning);
  }
}

.info {
  color: var(--info);

  &--text {
    color: var(--info);
  }
}

.twitter {
  color: rgb(29 155 240);
}

.facebook {
  color: rgb(7 122 233);
}

.linkedin {
  color: rgb(10 102 194);
}
