:root {
  --primary: #0070f3;
  --success: green;
  --warning: orange;
  --error: red;
  --info: #2196f3;
  --jankaritech: #88b04b;
}

.primary {
  color: var(--primary);

  &--text {
    color: var(--primary);
  }
}

.success {
  color: var(--success);

  &--text {
    color: var(--success);
  }
}

.error {
  color: var(--error);

  &--text {
    color: var(--error);
  }
}

.warning {
  color: var(--warning);

  &--text {
    color: var(--warning);
  }
}

.info {
  color: var(--info);

  &--text {
    color: var(--info);
  }
}
