.blog {
  margin: auto;
  max-width: 1200px;
  display: flex;

  &--banner {
    height: 350px;
    width: 100%;
    border-radius: 24px;
  }

  &--content {
    width: 70%;
    overflow: hidden;

    .blog-peek {
      margin: 0;
      border: none;

      .blog-title {
        pointer-events: none;
      }
    }

    &--data {
      padding: 2rem 0;

      p {
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: justify;
        letter-spacing: 0.6px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      pre,
      ul {
        margin-bottom: 1rem;
      }

      li {
        margin-bottom: 0.4rem;
        margin-left: 1rem;
      }

      code {
        width: 100% !important;
        font-size: 0.875rem;
        line-height: 1.3rem;
        background-color: rgb(225 225 225);
        padding: 4px;
        border-radius: 4px;
      }

      pre {
        white-space: pre-wrap;
        background-color: rgb(225 225 225);
        overflow-x: auto;
        padding: 1rem;
        border-radius: 4px;
      }

      img {
        width: 100%;
      }
    }
    &--data > p:first-of-type {
      &:first-letter {
        padding: 1rem;
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: var(--jankaritech);
        border: 6px double var(--jankaritech);
        margin-right: .5rem;
        float: left;
      }
    }
  }

  &--sidebar {
    width: 30%;
    padding: 0 1rem;

    &--wrapper {
      position: sticky;
      top: calc(var(--appbar-height) + 20px);
      max-height: 85vh;
      padding: 1rem;
      border: 1px solid grey;
      border-radius: 24px;
      overflow-y: auto;

      .heading-1 {
        font-size: 1.4rem;
        font-weight: 700;
      }

      .heading-2 {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .heading-3 {
        font-size: 1rem;
        font-weight: 500;
      }

      .heading-4 {
        font-weight: 400;
      }

      .heading-5 {
        font-size: 0.875rem;
        font-weight: 300;
      }

      .heading-6 {
        font-size: 0.5rem;
        font-weight: 300;
      }

      .heading-1,
      .heading-2,
      .heading-3,
      .heading-4,
      .heading-5,
      .heading-6 {
        color: #414141;

        &:hover {
          color: black;
        }
      }
    }

    .toc {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1rem;
      padding: 0.4rem;
    }

    &--item {
      display: flex;
      cursor: pointer;
      padding: 0.5rem;

      .hash {
        padding-right: 0.4rem;
        font-size: 16px !important;
        display: none;
      }

      &:hover {
        .hash {
          display: block;
        }
      }
    }
  }
}

body[theme-dark] {
  .blog {
    &--content--data {
      code {
        color: white;
        background-color: rgb(54 54 54);
      }

      pre {
        background-color: rgb(54 54 54);
      }
    }

    &--sidebar {
      .heading-1,
      .heading-2,
      .heading-3,
      .heading-4,
      .heading-5,
      .heading-6 {
        color: #cacaca;

        &:hover {
          color: white;
        }
      }
    }
  }
}
