.blog {
  &--head {
    .banner {
      height: auto;
      width: 100%;
      margin-bottom: 2rem;
    }

    &--content {
      padding-inline: 1rem;
      max-width: 1600px;
      margin: 0 auto;

      .title {
        font-size: clamp(2rem, 7vw, 7rem);
      }

      .author-info {
        margin-block: 3rem;
        display: flex;

        @media (max-width: 768px) {
          flex-direction: column;

          .author-name {
            margin-block: 1rem;
          }
        }

        align-items: center;

        .author-name {
          font-size: 1rem;
          line-height: 1.2rem;
          padding-inline: 0.5rem;
        }

        .created-at {
          display: flex;
          align-items: center;
          color: grey;
          font-size: 0.875rem;
          line-height: 1.2rem;
          padding-inline: 0.5rem;

          span {
            margin-left: 0.2rem;
            margin-top: 0.1rem;
          }
        }
      }
    }
  }

  &--content {
    margin-inline: auto;
    margin-top: 2rem;
    max-width: 1550px;
    padding-inline: 1rem;
    display: flex;

    @media only screen and (max-width: (960px)) {
      flex-direction: column-reverse;
    }

    &--info {
      padding-top: 0.5rem;

      @media only screen and (min-width: 960px) {
        min-width: 200px;
      }

      .wrapper {
        position: sticky;
        top: calc(var(--appbar-height) + 20px);
      }

      .title {
        font-size: 1rem;
        font-weight: 500;
      }

      .subtitle {
        color: rgb(77 76 76);
      }

      .share-items {
        display: flex;

        .share-icon {
          font-size: 2rem;
          margin-block: 1rem;
        }

        .twitter {
          color: rgb(29 155 240);
        }

        .facebook {
          color: rgb(7 122 233);
          margin-inline: 1rem;
        }

        .linkedin {
          color: rgb(10 102 194);
        }
      }
    }

    &--data {
      padding: 0 1rem;

      p {
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: justify;
        letter-spacing: 0.6px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      pre,
      ul {
        margin-bottom: 1rem;
      }

      li {
        margin-bottom: 0.4rem;
        margin-left: 1rem;
      }

      code {
        width: 100% !important;
        font-size: 0.875rem;
        line-height: 1.3rem;
        background-color: rgb(225 225 225);
        padding: 4px;
      }

      pre {
        white-space: pre-wrap;
        background-color: rgb(225 225 225);
        overflow-x: auto;
        padding: 1rem;
        max-height: 400px;
        width: 100%;
        overflow-y: auto;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &--sidebar {
      padding: 0 1rem;
      min-width: 50px;

      @media only screen and (min-width: 960px) {
        min-width: 320px;
      }

      .wrapper {
        position: sticky;
        top: calc(var(--appbar-height) + 20px);
        max-height: 85vh;
        padding: 1rem;
        border: 1px solid grey;
        overflow-y: auto;

        .toc {
          font-size: 1.8rem;
          font-weight: 400;
          margin-bottom: 1rem;
          padding-block: 0.4rem;
          border-bottom: 1px solid grey;
          width: fit-content;
        }

        .heading-1 {
          font-size: 1.4rem;
          font-weight: 700;
        }

        .heading-2 {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .heading-3 {
          font-size: 1rem;
          font-weight: 500;
        }

        .heading-4 {
          font-weight: 400;
        }

        .heading-5 {
          font-size: 0.875rem;
          font-weight: 300;
        }

        .heading-6 {
          font-size: 0.5rem;
          font-weight: 300;
        }

        .heading-1,
        .heading-2,
        .heading-3,
        .heading-4,
        .heading-5,
        .heading-6 {
          color: #414141;
          text-transform: capitalize;
          cursor: pointer;

          &:hover {
            color: black;
          }
        }

        .sidebar--item:not(:last-child) {
          padding-bottom: 1rem;
        }
      }

      &--item {
        display: flex;
        cursor: pointer;
        padding: 0.5rem;

        .hash {
          padding-right: 0.4rem;
          font-size: 16px !important;
          display: none;
        }

        &:hover {
          .hash {
            display: block;
          }
        }
      }
    }
  }
}

body[theme-dark] {
  .blog {
    .subtitle {
      color: rgb(206 206 206);
    }

    &--content--data {
      code {
        color: white;
        background-color: rgb(54 54 54);
      }

      pre {
        background-color: rgb(54 54 54);
      }
    }

    &--content--sidebar {
      .heading-1,
      .heading-2,
      .heading-3,
      .heading-4,
      .heading-5,
      .heading-6 {
        color: #cacaca;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.contain {
 border-bottom: 1px solid grey;
}
