.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: var(--appbar-height);
  background: hsl(0deg 0% 94%);
  width: var(--sidebar-width);
  min-width: var(--sidebar-min-width);
  max-width: var(--sidebar-width);
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 0 0.5rem 1rem grey;

  &--content {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin: 0 6px;
  }

  &--item {
    padding: .5rem;
    font-size: 1rem !important;
    border-radius: var(--default-border-radius);
    a {
      color: #343434;
      text-decoration: none;
    }
    &:hover {
      background: #d9d9d9;
    }
  }
  &--series {
    &--title:hover {
      padding-right: 2.7rem;
      &::before {
        content: "Series";
        font-size: .6rem;
        position: absolute;
        right: .5rem;
        top: .5rem;
        border: 1px solid grey;
        padding: 0 .1rem;
        border-radius: var(--default-border-radius);
      }
    }
    &--item {
      margin-left: 10px;
    }
  }
}

body[theme-dark] {
  .sidebar {
    box-shadow: 0 0.5rem 1rem #3f3f3f;
    background: #1c1c1c;

    &--item {
      a {
        color: #fff !important;
      }
      &--sub {
        a {
          color: #fff !important;
        }
      }
    }

    &--item:hover {
      background-color: #000;
    }
    &--item--sub:hover {
      background-color: #000;
    }
  }
}
