@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

.font-poppins {
  font-family: Poppins, sans-serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-lato {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: var(--success);
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.one-rem {
  font-size: 1rem;
}

.small-shadow {
  box-shadow: var(--small-shadow);
}

.small-shadow-dark {
  box-shadow: var(--small-shadow-dark);
}

.icon-button {
  border-radius: 50%;
  outline: none;
  border: none;
  background: none;

  &:hover {
    svg {
      filter: invert(1);
    }

    background: #3a3a3a;
  }
}

.menu {
  position: relative;

  .menu-drop {
    position: absolute;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 0.4rem;
    background-color: white;
    margin-top: 0.5rem;
    right: -0.5rem;

    .menu-drop-item {
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 8px;
      margin: 2px 0;

      &:hover {
        background-color: rgb(0 0 0 / 10%);
      }

      &.item-active {
        background-color: rgb(0 0 0 / 10%);
      }
    }
  }
}

body[theme-dark] {
  input {
    background: inherit;

    &:focus {
      border-color: white;
    }
  }

  .icon-button {
    svg {
      filter: invert(1);
    }

    &:hover {
      background: #fff;

      svg {
        filter: none;
      }
    }
  }

  .menu {
    .menu-drop {
      background-color: black;
      color: white;

      .menu-drop-item {
        &:hover {
          background-color: rgb(255 255 255 / 5%);
        }

        &.item-active {
          background-color: rgb(255 255 255 / 10%);
        }
      }
    }
  }
}
