:root {
  --sidebar-width: 250px;
  --appbar-height: 4rem;
  --sidebar-min-width: 150px;
  --small-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  --small-shadow-dark: 0 0.5rem 1rem rgb(210 210 210 / 10%);
}
